# This notebook is aimed to provide the Python most useful and essential resources for engineers.

## Please feel free to contact me if you find any mistake, improvement opportunity or something that you find important is missing.

### Email:
gmazzini@itba.edu.ar

#  $\color{red}{\text{TODO}}$
    # Add a TOContent
    #  Missing complex numbers

# $\color{blue}{\text{Python data types:}}$

![](data-types.png)

##  [Numbers](#numbers), [String](#string), [Boolean](#boolean) , [Dictionaries](#dicts) ,[Lists](#lists) , [Tuples](#lists) , [Sets](#sets)

## $\color{blue}{\text{Numbers:}}$ <a class="anchor" id="numbers"></a>
* integers and floating point numbers

In [95]:
type(0) # int
type(0.0) # float
type(9E2) # float (9*10 to the power of 2)

float

In [97]:
# Operations
10**3 # 1000
10 / 3 # 3.3333333333333335
10 // 3 # 3 -> no decimals, returns the floor division
10 % 3 # 1 -> return the reinder. (useful for even or odd identification)

# Functions 
pow(10,2) # 100 -> same as 10**2
abs(-10) #10
round(10.46) # 10
round(10.468, 2) # 10.47
bin(15) # '0b1111'

'0b1111'

* complex numbers

## $\color{blue}{\text{Strings}}$ <a class="anchor" id="string"></a>
* in python, strings are stored as sequences of letters in memory.
<img src="strings.png" style="width:320px;height:110px"/>

In [98]:
name = "Gonzalo Mazzini"
name[5] # l
name[:] # 'Gonzalo Mazzini'
name[-1] # i -> last element
name[::-1] # 'inizzaM olaznoG'   -> quick reversE
name[0:10:2] # slicing, [start : end : step]

len("hello") # 5
'Hello' + ' ' + 'Friend' # 'Hello Friend"  -> string concatenation
"\n" # new line
"\t" # add tab

'\t'

In [99]:
# useful Methods
"  I play tennis ".strip() # 'I play tennis'  -> strips all whitspace (both ends)
"sI play tenniss".strip("s") # 'I play tenni' -> strips all passed characters (both ends)
"what about you".split() # ['what', 'about', 'you']
"today is sunday".replace("sunday","saturday") # 'today is saturday'
"today is sunday".upper() # 'TODAY IS SUNDAY'
"TODAY IS SUNDAY".lower() # 'today is sunday'
"today is sunday".capitalize() # 'Today is sunday'
"today is sunday".find('i') # 6 returns starting index position (first occurence)
"today is sunday".count('y') # 2 

# formatting
name1 = 'Gonzalo'
age = 26
print(f'My name is {name1}, I am {age} years old') # My name is Gonzalo, I am 26 years old
# alternative as of python 3.6
print('My name is {}, I am {} years old'.format(name1,age)) # My name is Gonzalo, I am 26 years old

My name is Gonzalo, I am 26 years old
My name is Gonzalo, I am 26 years old

## $\color{blue}{\text{Boolean}}$  <a class="anchor" id="boolean"></a>

* True or False. For logical operations and comparison.

In [100]:
bool(True) # True

bool(False) # False
bool(None) # False
bool(0) # False
bool(0.0) # False
bool(range(0)) # False
bool([]) # False
bool({}) # False
bool(()) # False
bool('') # False
bool(range(0)) # False
bool(set()) # False
"""Everything else will evaluate to True in Python!!"""
bool(2) # True
bool([0,1,{}]) # True

True

## $\color{blue}{\text{Dictionaries (Hash list)}}$  <a class="anchor" id="dicts"></a>

![](dicts.png)

In [101]:
my_dict = {"name": "Gonzalo Mazzini", "age" : 26, "is_alive" : True}

In [102]:
my_dict["name"] # 'Gonzalo Mazzini'
len(my_dict) # 3
list(my_dict.keys()) # ['name', 'age', 'is_alive']

['name', 'age', 'is_alive']

In [103]:
list(my_dict.values()) # ['Gonzalo Mazzini', 26, True]

['Gonzalo Mazzini', 26, True]

In [104]:
list(my_dict.items()) #  [('name', 'Gonzalo Mazzini'), ('age', 26), ('is_alive', True)]

[('name', 'Gonzalo Mazzini'), ('age', 26), ('is_alive', True)]

In [105]:
my_dict["height"] = 1.76 # {'name': 'Gonzalo Mazzini', 'age': 26, 'is_alive': True, 'height': 1.76}

In [106]:
my_dict.get("height") # 1.76

1.76

In [107]:
my_dict.get("weight") # returns None as the key does not exist

In [108]:
"""Remove key"""
del my_dict["age"]
my_dict.pop("name", None) # just another alternative

'Gonzalo Mazzini'

In [109]:
new_dict = {"is_alive": False} 
my_dict.update(new_dict) # update a value by passing a dict which contains that key
my_dict["is_alive"] # False

False

In [110]:
{**my_dict, **{"age": 27} }  # {'name': 'Gonzalo Mazzini', 'age': 27, 'is_alive': False}

{'is_alive': False, 'height': 1.76, 'age': 27}

In [111]:
"""Use zip to create a dict""" 
my_dict = dict(zip(["key1","key2","key3"], ["value1","value2","value3"]))
my_dict # {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [112]:
"""Dictionary comprehension"""

'Dictionary comprehension'

In [113]:
{key : value for key, value in [('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')] } # {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
# filter dict by keys
{key : value for key, value in [('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')] if key == "key1"} # {'key1': 'value1'}

{'key1': 'value1'}

In [114]:
{key : value for key, value in [('key1', 'value1'), ('key2', 'value2'), ('key3', 'value3')] if key == "key1"}

{'key1': 'value1'}

##  $\color{blue}{\text{Lists (arrays)}}$ <a class="anchor" id="lists"></a>
* unlike strings, lists are mutable sequences in python

In [115]:
"gonzalo"[1] # g
try:
    "Gonzalo"[1] = "G"
except TypeError as err:
    print(err)
# 'str' object does not support item assignment

'str' object does not support item assignment

In [116]:
# int, floats, strings, booleand and functions among others can be stored in a list.
my_list = [1, 1.0, "1", True, lambda x: True]
for elemento in my_list:
    print(type(elemento))  
# <class 'int'>
# <class 'float'>
# <class 'str'>
# <class 'bool'>
# <class 'function'>

len(my_list) # 5

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'function'>

5

In [117]:
my_list = [1,"string", False]
my_list*2 #  [1, 'string', False, 1, 'string', False]
my_list + [True] #  [1, 'string', False, True]
"""Note that the above does not mutate the original list, it creates a new list."""
print(my_list) # [1, 'string', False]  (still the original list.)

[1, 'string', False]

In [118]:
my_list.append(99) # returns None, it mutates the original list to [1,"string",False, 99]

In [119]:
my_list.extend([99,100]) # None, it mutates the original list to [1, 'string', False, 99, 100]
my_list

[1, 'string', False, 99, 99, 100]

In [120]:
# this may be deleted..
my_list = [1,"string", False]
other_list = my_list
other_list*2
print(other_list)
print(my_list)

[1, 'string', False]
[1, 'string', False]

In [121]:
my_list = [1,"string", False]
other_list = my_list
other_list.append([True])
print(other_list)
print(my_list)
"""Note how other_list is a refering to the same list as my_list. That is why adding an element in either of my_list
or other_list will have the same effect."""

[1, 'string', False, [True]]
[1, 'string', False, [True]]

'Note how other_list is a refering to the same list as my_list. That is why adding an element in either of my_list\nor other_list will have the same effect.'

##  $\color{blue}{\text{Tuples}}$ <a class="anchor" id="tuples"></a>

#### tuples are similiar to lists, however they are used for immutable data. Thus, both modifying or appending will raise an error.

In [127]:
my_tuple = ("oil","gas","carbon", "oil")
len(my_tuple) # 4
my_tuple[0] # "oil"

try: 
    my_tuple[1] = "wind"
except TypeError as err:
    print(err) # 'tuple' object does not support item assignment

try:
    my_tuple.append("solar")
except AttributeError as err:
    print(err) # 'tuple' object has no attribute 'append'

'tuple' object does not support item assignment
'tuple' object has no attribute 'append'

In [66]:
my_tuple.index("oil") # 0, returns the index of the first "oil"
my_tuple.count("oil") # 2

2

##  $\color{blue}{\text{Sets}}$ <a class="anchor" id="sets"></a>

### collection of $\textbf{unique}$ elements, without order.

In [80]:
my_set = set()
my_set.add(1) # {1}
my_set.add(2) # {1 , 2}
my_set.add(2) # {1 , 2} 

my_set.remove(2) #  {1}
try:
    my_set.remove(3) # raise a KeyError
except KeyError:
    print("Element not found") 
    
my_set.discard(3) # Does not raise an error 
my_set.clear() # {}

Element not found

In [85]:
type(np.arange(3))

numpy.ndarray

In [88]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.union(set2) # {1, 2, 3, 4, 5}
set4 = set1.intersection(set2) # {3}

set5 = set1.difference(set2) # {1,2}
set6 = set2.difference(set1) # {4,5}
set7 = set1.symmetric_difference(set2) # {1,2,4,5}

# $\color{green}{\text{Operators}}$

##  [Logical Operators](#logical), [Comparison Operators](#comparison)

##  $\color{green}{\text{Comparison Operators}}$ <a class="anchor" id="comparison"></a>

In [142]:
import pandas as pd

comparison = {'comparison ': ['==', '!=', '>', '<',  '>=', '<=', "is"], 'meaning': ['equal', 'not equal'
, 'is greater', 'is less',  'greater or equal', 'less or equal', "check if refer to same object in memory"]}  
df = pd.DataFrame(comparison)  
df

  comparison                                   meaning
0          ==                                    equal
1          !=                                not equal
2           >                               is greater
3           <                                  is less
4          >=                         greater or equal
5          <=                            less or equal
6          is  check if refer to same object in memory

##  $\color{green}{\text{Logical Operators}}$ <a class="anchor" id="logical"></a>

In [146]:
1 < 2 and 4 > 5 # False
1 < 2 or 4 > 5 # True
1 is not 1.0 # True
not False # True
1 not in [2,3,4]

True